<ul class="nav navbar-nav">
  <li>
  <%= link_to "Accounts", root_path, :class => 'brand' %>
  </li>
  <li>
  <%= link_to "Leads", leads_path, :class => 'brand' %>
  </li>
</ul>
<ul class="nav navbar-nav navbar-right">
	<li><a class="navbar-brand" href="#">Account logged: <%= session[:account_logged_name] %></a></li>
</ul>